{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}
{% block metaName %}SnowTricks registration
{% endblock %}
{% block metaContent %}S'inscrire
{% endblock %}
     
{# Vous veillerez à envoyer un email permettant de valider la création de compte et rendre le compte actif (via un token de validation par exemple).
{# Il faut pouvoir associer un photo de profil #}
{# Une fois le formulaire soumis, l'utilisateur sera redirigé vers l'accueil sans être connecté #}

{% block body %}
    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container w-75 my-5 py-3 border">
    
        <h1>Inscrivez-vous</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.photo) }}

            <p><font size="-1">* champs obligatoires</font></p>
            <button type="submit" class="btn-primary">S'inscrire</button>
        {{ form_end(registrationForm) }}
  
    </div>

    <div class="row h-100 justify-content-center align-items-center">
        <a href="{{ path('login') }} "><button class="btn btn-success">Déjà Inscrit? Connectez-vous</button></a>
    </div>   
{% endblock %}

{% block textJS %}
<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>
{% endblock %}
