{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block metaName %}Accueil
{% endblock %}
{% block metaContent %}Accueil SnowTricks
{% endblock %}
{% block stylesheet %}css\index.css
{% endblock %}

{% block body %}
    
    {% for flashSuccess in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
    {% endfor %}
    
    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {# TODO Afficher une image d'accueil  en arrière plan + phrase d'accroche #}
    {# TODO au chargement de la page, seule l'image s'affichera. Un bouton en bas à droite permettra de descendre l'affichage jusqu'au block de tricks #}
    <div class="my-1 mx-1">
        <img src="img\home.jpg" class="img-fluid">
    </div>  
   

    {# TODO BLOC de TRICKS : 15 premières vignettes + load more #}
    <div class="container my-5">
        <div class="row">
            {% for trick in tricks %}
                <div class="col-5cols col-lg-5cols col-sm-5cols d-flex align-items-stretch">

                    <div class="card my-3">
                    
                        <div class="card-img-top">
                        
                            {% if trick.images is empty %} 
                                <img src="img\default.png" class="img-fluid" alt="">
                            {% else %}           
                                {% for image in trick.images %}                   
                                    {% if image.principal == 1 %} 
                                        <img src="{{ image.src }}" class="img-fluid" alt=""> {# TODO Voir le format des images + les centrer verticalement #}
                                    {% else %}     {# TODO Contrôle à faire si erreur avec plusieurs principal ou aucune #}
                                    {% endif %}  
                                {% endfor %}
                            {% endif %}
                        </div>                                        
                        <div class="card-body">
                        
                            <h5 class="card-title">{{ trick.title | upper }} </h5>
                            <a href="{{ path('trick_show', {'id': trick.id}) }}"><button class="btn-info">La suite</button></a>
                            {% if is_granted('ROLE_USER') %} {# les boutons edit and delete ne sont affichés que si l'utilisateur est connecté #}
                                <a href="{{ path('trick_edit', {'id': trick.id}) }}">
                                    <button><i class="far fa-edit"></i></button>
                                </a>
                                <a href="{{ path('home', {'id': trick.id}) }}">
                                    <button><i class="fas fa-trash-alt"></i></button> 
                                    {# TODO le bouton de suppression n'affiche pas de page spécifique, mais une fenêtre modale demande si l'utlisateur est sûr de vouloir supprimer ce trick #}
                                </a> 
                            {% endif %} 
                        </div>

                    </div>

                </div>
            {% endfor %}

        </div>
    </div>

    {# TODO Ce bouton permettra de remonter en haut du bloc de tricks lorsque plus de 15 tricks seront chargés #}
    <div class="row justify-content-end">
        <button >Boutton UP</button>
    </div>

{% endblock %}
