{% extends 'base.html.twig' %}

{% block title %}Tricks
{% endblock %}
{% block metaName %}SnowTricks Listes des Tricks
{% endblock %}
{% block metaContent %}Listes des Tricks
{% endblock %}

{% block body %}

<section>
    {% for trick in tricks %}
        <article>
            <h2> {{ trick.title }} </h2>
                <div class="metadata">Ecrit le {{ trick.createdAt | date('d/m/Y')}} </div>
                <div class="content">
                    <img src="{{"http://palceholder.it/250x250"}}" alt="">
                    {{ trick.description}} 
                    <a href="{{ path('trick_details', {'id' : trick.id}) }}" class="btn btn-primary">Lire la suite</a>
                </div>
        </article>
    {% endfor %}
</section>

{% endblock %}