{% extends 'base.html.twig' %}

{% block title %}Présentation {{ trick.title |capitalize }}
{% endblock %}
{% block metaName %}SnowTricks {{ trick.title }}
{% endblock %}
{% block metaContent %}Présentation {{ trick.title |capitalize }}
{% endblock %}

{% block body %}

{# Mettre une image de fond sur toute la largeur de la page #}

{# Mettre l'image à la une = principale ou image par défaut #}
<div class="container w-75 my-5 px-auto border">
    <div class="container my-5 px-auto">
        Image Principal + TitreTrick<img src="https://placehold.it/860x400">
    </div>
  
{# Afficher carrousel avec les photos et les vidéos à la suite #}
    <div class="container border my-5">
        Carroussel. Sur mobile, il sera caché avec un bouton qui permettre de déployer une liste contenant les images et les vidéos
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
    </div>

    <div class="container border my-5">
        <p>Créé le  = </p> {# Afficher le trick.createdAt s'il existe #}
        <p>Modifé le  = .... </p> {# Afficher le trick.editedAt s'il existe #}
        <p>Dans la catégorie ....{# Afficher la catégorie #}</p>

        <hr class="my-1">

        <p>Description = {{ trick.description  }}</p>
    </div>

    <div class="container my-5 px-auto border">
        <button>Ajout un commentaire</button> {# le formulaire n'est affiché que si l'utilisateur est connecté #}
        <p>Block Commentaires - avec pagination</p>
    </div>

   <a href="{{ path('trick_edit', {'id' : trick.id}) }}">
    <button type="submit" class="btn btn-success">Modifier Trick</button>
    </a>
</div>
{% endblock %}
