<button class="btn btn-danger btn-sm buttonCard" data-toggle="modal" data-target="#myModal{{trick.id}}">
    <i class="fas fa-trash-alt"></i>
</button>

<div class="modal" id="myModal{{trick.id}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Suppression {{trick.title}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p>Êtes vous sûr de vouloir supprimer cette figure?<p>
                <p>Vous ne pourrez pas revenir en arrière. <i>(Il est possible de la dépublier seulement)</i><p>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                <form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                    <button class="btn btn-danger btn buttonCard">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>
