{{ form_start(formTrick) }}

{{ form_widget(formTrick._token) }}

{{ form_row(formTrick.title, {
    label: 'Titre'
    }) 
}}

{{ form_row(formTrick.description, {
    label: 'Description'
    }) 
}}

{{ form_row(formTrick.category, {
    label: 'Catégorie'
    }) 
}}

{{ form_row(formTrick.publish, {
    label: 'Publié'
    }) 
}}


<hr>
{# PHOTOS #}
<div class="row">
    <div class="col">
        {{ form_label(formTrick.images, 'Images') }}
    </div>
    <div>         
        <button type="button"
            class="add-another-collection-widget btn-sm btn-primary"
            data-list-selector="">Ajouter une nouvelle image
        </button>
    </div>    
</div>
    
<ul class="list-group px-1" id="imageSrc-fields-list"
    data-prototype="{{ form_widget(formTrick.images.vars.prototype)|e }}"
    data-widget-tags="{{ '<li class="list-group-item"></li>'|e }}"
    data-widget-counter="{{ formTrick.images|length }}">
{% for imageField in formTrick.images %}
    {{ form_errors(imageField) }}
    <li class="list-group-item px-1 d-flex justify-content-start align-items-top">
        <div class="col-11 px-1">{{ form_widget(imageField) }}</div>
        <a href="#" class="removeUrl"><i class="fas fa-trash btn btn-sm btn-warning"></i></a>
    </li>
{% endfor %}
</ul>
{# PHOTOS #} 

<hr>
{# VIDEOS #}
<div class="row">
    <div class="col">
        {{ form_label(formTrick.videos, 'Vidéos') }}
    </div>
    <div>         
        <button type="button"
            class="add-another-collection-widget btn-sm btn-primary"
            data-list-selector="#videoUrl-fields-list">Ajouter une nouvelle vidéo
        </button>
    </div>    
</div>
    
{# store the prototype on the data-prototype attribute #}
<ul class="list-group px-1" id="videoUrl-fields-list"
    data-prototype="{{ form_widget(formTrick.videos.vars.prototype)|e }}"
    data-widget-tags="{{ '<li class="list-group-item"></li>'|e }}"
    data-widget-counter="{{ formTrick.videos|length }}">
{% for videoField in formTrick.videos %}
    {{ form_errors(videoField) }}
    <li class="list-group-item px-1 d-flex justify-content-start align-items-top">
        <div class="col-11 px-1">{{ form_widget(videoField) }}</div>
        <a href="#" class="removeUrl"><i class="fas fa-trash btn btn-sm btn-warning"></i></a>
    </li>
{% endfor %}
</ul>
{# VIDEOS #}    

<hr>
{# BOUTON SAVE #}  
<div class="row h-100 justify-content-center align-items-center">
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>
{# BOUTON SAVE #}      

{{ form_end(formTrick, { "render_rest": false }) }}


{% block textJS %}
{# https://symfony.com/doc/current/reference/forms/types/collection.html #}
<script>
$(document).ready(function () {
    $('.add-another-collection-widget').click(function (e) {
        var list = $($(this).attr('data-list-selector'));
        // Try to find the counter of the list or use the length of the list
        var counter = list.data('widget-counter') || list.children().length;

        // grab the prototype template
        var newWidget = list.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your url
        // end name attribute looks like name="trick[videos][2]"
        newWidget = newWidget.replace(/__name__/g, counter);
        // Increase the counter
        counter++;
        // And store it, the length cannot be used if deleting widgets is allowed
        list.data('widget-counter', counter);

        // create a new list element and add it to the list
        var newElem = $(list.attr('data-widget-tags')).html(newWidget);
        newElem.appendTo(list);

        // also add a remove button
        newElem.append('<a href="#" class="remove-row"><i class="fas fa-window-close"></i></a>');    
        // handle the removal
        $('.remove-row').click(function(e) {
            e.preventDefault();          
            $(this).parent().remove();
            return false;
        });
    });
});
    //cancel the add action
    $(document).ready(function () {
        $('.removeUrl').click(function (e) {
            e.preventDefault();
            $(this).parent().remove();
            return false;
        });
    });    

</script>
{% endblock %}