{% extends 'base.html.twig' %}

{% block title %}Snowtricks_Edit {{ trick.title |capitalize }}
{% endblock %}
{% block metaName %}SnowTricks {{ trick.title }}
{% endblock %}
{% block metaContent %}Modification {{ trick.title |capitalize }}
{% endblock %}
{% block stylesheet %}/css/edit.css
{% endblock %}

{% block body %}

    {% for flashSuccess in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
    {% endfor %}
    
    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container mt-5 px-auto border">  
        
        <div class="row justify-content-space-around">
            <div class="col"><h4>Page de modification de la fiche : <a href="{{ path('trick_show', {'safeTitle': trick.safeTitle}) }}">{{ trick.title | upper }}</a></h4></div>
            <div>{{ include('trick/_delete_form.html.twig') }}</div>
        </div>    
    
        {{ include('trick/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
    </div>

{% endblock %}
