{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <h1>Liste des Tricks</h1>{# TODO A mettre en page #}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>EditedAt</th>
                <th>Publish</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.title }}</td>
                <td>{{ trick.description }}</td>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trick.editedAt ? trick.editedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trick.publish ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">show</a>
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn-info"><a href="{{ path('trick_new') }}">Create new</button></a>
{% endblock %}
